@import "tailwindcss";

<<<<<<< HEAD
<<<<<<< HEAD
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
=======
=======
>>>>>>> f4e6ceb92ea29862464351617dc4b93423585fc7
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
>>>>>>> 58ce05c6f8a13403e6fcf756a5ddca361eeda7e0
=======
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> f4e6ceb92ea29862464351617dc4b93423585fc7
}
