@import "tailwindcss";

<<<<<<< HEAD
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
>>>>>>> 58ce05c6f8a13403e6fcf756a5ddca361eeda7e0
}
